.body{
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

.title {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
}

.pitchBody{
  display: grid;
  margin: auto;
  grid-template-areas: 'areal arear';
  column-gap: 20px;
  justify-content: center;
}

.dropdownBox{
  width: 150px;
  margin: 20px 0;
}

.dropdownTitle{
  margin: 0;
  font-size: 20px;
}

.dropdown{
  border: 2px solid black;
  margin: 10px auto;
  padding: 8px;
  border-radius: 8px;
}