.body {
    display: flex;
    justify-content: center;
}

.playerBoard{
    position: absolute;/* stacking pitch lines and player board */
    height: 700px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.pitchLines{
    height: 700px;
    width: 500px;
}
/* Pitch */

.pitch{
    display: grid;
    grid-template-areas: 'main'; /* stacking pitch lines and player board */
    margin: 20px 0;
    padding: 0;
    height: 700px;
    width: 500px;
}

.halfPitch, .halfPitchI{
    border-top: 2px solid white;
    background-color: rgb(34, 240, 34);
    width: 500px;
    height: 350px;
    border-radius: 0 0 10px 10px;
}

.halfPitchI{
    transform: rotate(180deg);
}

.semiCircle{
    height: 65px;
    width: 135px;
    border-radius: 0 0 90px 90px;
    border: 2px solid white;
    border-top: none;
    margin: auto;
}

.defHalf{
    margin: 183px auto 0 auto;
    height: 100px;
    width: 190px;
    border: 2px solid white;
    bottom: 1px;
}

.defHalfSemiCircle{
    height: 30px;
    width: 60px;
    position: relative;
    border: 2px solid white;
    border-bottom: none;
    top: -30px;
    margin: auto;
    border-radius: 60px 60px 0 0;
}


.eighteenBox{
    height: 50px;
    width: 100px;
    border: 2px solid white;
    margin: 18px auto 0 auto;
}