.teamsheet{
    display: grid;
    margin: auto;
    margin-top: 80px;
    margin-left: 16px;
    width: 380px;
    height: 500px;
    justify-content: center;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: auto 100px auto 80px;
    grid-template-areas: 
    " . first . second .  "
    " third fourth fifth  sixth seventh"
    " eight . ninth . tenth"
    ". . eleventh . .";
    row-gap: 70px;
}

#first{
    grid-area: first;
}

#second{
    grid-area: second;
}

#third{
    grid-area: third;
    margin: 10px 0 0 -50px;
}

#fourth{
    grid-area: fourth;
    margin: 60px 0 0 0;
}

#fifth{
    grid-area: fifth;
    margin: -20px 0 0 0;
}

#sixth{
    grid-area: sixth;
    margin: 60px 0 0 0;
}

#seventh{
    grid-area: seventh;
    margin: 10px 0 0 50px;
}

#eight{
    grid-area: eight;
}

#ninth{
    grid-area: ninth;
}

#tenth{
    grid-area: tenth;
}

#eleventh{
    grid-area: eleventh;
    margin-top: 20px;
    background-color: aliceblue;
}