.teamsheet{
    display: grid;
    margin: auto;
    margin-top: 80px;
    margin-left: 20px;
    width: 450px;
    height: 580px;
    justify-content: center;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: auto auto auto auto 60px;
    grid-template-areas: 
    ". . first . ."
    " . . second . . "
    " third fourth . fifth sixth"
    "seventh eight . ninth tenth"
    ". . eleventh . .";
    gap: 0;
}

#first{
    grid-area: first;
}

#second{
    grid-area: second;
}

#third{
    grid-area: third;
    margin-left: -50px;
    margin-top: -40px;
}

#fourth{
    grid-area: fourth;
}

#fifth{
    grid-area: fifth;
}

#sixth{
    grid-area: sixth;
    margin-left: 50px;
    margin-top: -40px;
}

#seventh{
    grid-area: seventh;
    margin:-20px 0 0 -50px;
}

#eight{
    grid-area: eight;
}

#ninth{
    grid-area: ninth;
}

#tenth{
    grid-area: tenth;
    margin: -20px 0 0 50px;
}

#eleventh{
    grid-area: eleventh;
    margin-top: 30px;
}